.productItem {
  color: black;
  max-width: 22.5%;
  margin: 10px;
  position: relative;
  cursor: pointer;
}


.productTitle,
.productPrice {
  font-weight: bolder;
}

.productPrice {
  color: #d8127d;
}

.productItemNav {
  position: absolute;
  left: 20px;
  right: 20px;
  z-index: 2;
  font-size: 12px;
  display: none;
}

.productItem:hover .productItemNav {
  font-size: 1em;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 50px;
}

.productItemButton {
  width: 80%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: #f0ecec;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  padding: 1em 0;
}

.productItemButton:hover {
  background-color: #333;
  color: white;
}

.productItemNav>svg:hover {
  color: #333;
}

.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 24px;
  padding: 4px;
}
.modalTitle {
  border-bottom: 1px solid black;
}
.formLabel {
  color: black;
  font-size: 1em;
}

.link {
  display: contents;

}
.link>img {
  width: 100%;
  border-radius: 15px;

}
.mainProduct {
  width: 100%;
  margin: 50px;
}
.mainProduct_images {
  width: 30%;
  height: fit-content;
}
.mainProduct_image {
  width: 100%;
  height: fit-content;
}


.mainProduct_info {
  max-width: 50%;
  width: 100%;
  margin-left: 20px;
}

.customRadio {
  display: flex;
  margin-top: 10px;
  text-align: center;
}

.customRadio > span {
  margin: 7px 5px;
}



.btn {
  width: 25px;
  height: 25px;
  margin: 3px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  border: 2px solid #d8127d;
}

.amountField {
  margin-top: 10px;
}
.amountField> span {
  margin: 10px 5px;
}

.productPage_btn {
  width: 100%;
  color: white;
  background-color: #d8127d;
  font-size: 1em;
  padding: 20px;
  border: none;
  border-radius:10px ;
  margin-top: 10px;
  cursor: pointer;
}