.productItem {
  color: black;
  max-width: 22.5%;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.productItem > img {
  width: 100%;
  border-radius: 10px;
}

.productTitle,
.productPrice {
  font-weight: bolder;
}

.productPrice {
  color: #d8127d;
}

.productItemNav {
  position: absolute;
  left: 20px;
  right: 20px;
  z-index: 2;
  font-size: 12px;
  display: none;
}

.productItem:hover .productItemNav {
  font-size: 1em;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 50px;
}

.productItemButton {
  width: 80%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: #f0ecec;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  padding: 1em 0;
}

.productItemButton:hover {
  background-color: #333;
  color: white;
}

.productItemNav>svg:hover {
  color: #333;
}

.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 24px;
  padding: 4px;
}
.modalTitle {
  border-bottom: 1px solid black;
}
.formLabel {
  color: black;
  font-size: 1em;
}

.link {
  width: 100%;
  display: contents;
}